p{
  font-family:Helvetica;
}

/* Style the navigation bar */
.navbar {
  box-shadow: 0 10px 10px 0 rgba(128, 136, 161, 0);
  border-radius: 0px;
  position: fixed;
  z-index: 1000000;
  top: 0px; left: 0px; right: 0px;
  width: auto;
  background-color: rgba(173, 173, 173, 0.668);
  overflow: auto;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(20px);
}

/* Navbar links */
.navbar a { 
  float: left;
  text-align: center;
  padding: 12px;
  color: rgb(43, 43, 43);
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s;
}

.navbar b { 
  float: left;
  text-align: center;
  padding: 12px;
  color: rgb(43, 43, 43);
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color:rgb(95, 95, 95);
  color:#cbcbcba5;
}

/* Current/active navbar link */
.active {
  /*#b9c3fc*/
  background-color: #d1d1d100;
}

.topnav-right {
  float: right;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    display: block;
  }
}

body{
  background-color: #e6e6e6;
  text-align: center;
}

.intro{
  box-shadow: 0 13px 13px 0 rgba(0, 0, 0, 0.39);
  border-radius: 6px;
  z-index: 1000000;
  top: 10px; left: 10%; right: 10%;
  width: auto;
  
  background-image: linear-gradient(to right, #93c09b, #decc92);
  margin:1%;
  margin-bottom: 40px;
  margin-left: 2%;
  margin-right: 2%;
  overflow: auto;
}

.first{
  float: left;
  padding: 0px;
  text-align: left;
}

.quote_text{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  padding: 20px;
}

.quote{
  box-shadow: 0 13px 13px 0 rgba(0, 0, 0, 0.39);
  border-radius: 6px;
  z-index: 1000000;
  top: 10px; left: 10px; right: 10px;
  width: auto;
  color: #E6E6E6;
  background-image: linear-gradient(to bottom right, #659CD3, #004283);
  margin:1%;
  overflow: auto;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 40px;
}

.first_text{
  padding-top: 25px;
  padding-left: 250px;
  padding-right: 5%;
  padding-bottom: 60px;
  text-align: left;
  text-justify:auto;
}

.note_text{
  padding-top: 25px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 60px;
  text-align: left;
  text-justify:auto;
}

.note{
  box-shadow: 0 13px 13px 0 rgba(0, 0, 0, 0.39);
  border-radius: 6px;
  z-index: 1000000;
  top: 10px; left: 10%; right: 10%;
  width: auto;
  
  background-image: linear-gradient(to bottom right, #f9c2db, #f2e4c2);
  margin:1%;
  margin-bottom: 40px;
  margin-left: 2%;
  margin-right: 2%;
  overflow: auto;
}

.frc{
  box-shadow: 0 13px 13px 0 rgba(0, 0, 0, 0.39);
  border-radius: 6px;
  z-index: 1000000;
  top: 10px; left: 10%; right: 10%;
  width: auto;
  
  background-image: linear-gradient(to bottom right, #a8b5db, #cbcbcb);
  margin:1%;
  margin-bottom: 40px;
  margin-left: 2%;
  margin-right: 2%;
  overflow: auto;
}

.ftc{
  box-shadow: 0 13px 13px 0 rgba(0, 0, 0, 0.39);
  border-radius: 6px;
  z-index: 1000000;
  top: 10px; left: 10%; right: 10%;
  width: auto;
  
  background-image: linear-gradient(to bottom right, #c2c5ce, #b5e2dd);
  margin:1%;
  margin-bottom: 40px;
  margin-left: 2%;
  margin-right: 2%;
  overflow: auto;
}

.taekwondo{
  box-shadow: 0 13px 13px 0 rgba(0, 0, 0, 0.39);
  border-radius: 6px;
  z-index: 1000000;
  top: 10px; left: 10%; right: 10%;
  width: auto;
  color:rgb(211, 191, 129);
  
  background-image: linear-gradient(to bottom right, #000000, #3d3922);
  margin:1%;
  margin-bottom: 40px;
  margin-left: 2%;
  margin-right: 2%;
  overflow: auto;
  
  background: linear-gradient( 90deg, rgb(225, 168, 63), rgb(224, 199, 40) 30px, rgb(45, 45, 45) 30px, rgb(42, 42, 42))
}


.dm3d{
  box-shadow: 0 13px 13px 0 rgba(0, 0, 0, 0.39);
  border-radius: 6px;
  z-index: 1000000;
  top: 10px; left: 10%; right: 10%;
  width: auto;
  
  background-image: linear-gradient(to bottom right, #f2a1a1, #969696);
  margin:1%;
  margin-bottom: 40px;
  margin-left: 2%;
  margin-right: 2%;
  overflow: auto;
}

.solar{
  box-shadow: 0 13px 13px 0 rgba(0, 0, 0, 0.39);
  border-radius: 6px;
  z-index: 1000000;
  top: 10px; left: 10%; right: 10%;
  width: auto;
  
  background-image: linear-gradient(to bottom right, #c0e7b6, #d5daa3);
  margin:1%;
  margin-bottom: 40px;
  margin-left: 2%;
  margin-right: 2%;
  overflow: auto;
}

.ta{
  box-shadow: 0 13px 13px 0 rgba(0, 0, 0, 0.39);
  border-radius: 6px;
  z-index: 1000000;
  top: 10px; left: 10%; right: 10%;
  width: auto;
  
  background-image: linear-gradient(to bottom right, #86b796, #d2d2d2);
  margin:1%;
  margin-bottom: 40px;
  margin-left: 2%;
  margin-right: 2%;
  overflow: auto;
}

.magna{
  box-shadow: 0 13px 13px 0 rgba(0, 0, 0, 0.39);
  border-radius: 6px;
  z-index: 1000000;
  top: 10px; left: 10%; right: 10%;
  width: auto;
  
  background-image: linear-gradient(to bottom right, #a1a1a1, #bf7a65);
  margin:1%;
  margin-bottom: 40px;
  margin-left: 2%;
  margin-right: 2%;
  overflow: auto;
}

