p{
  font-family:Helvetica;
}


/* Style the navigation bar */
.navbar {
  box-shadow: 0 10px 10px 0 rgba(105, 114, 143, 0.39);
  border-radius: 6px;
  position: fixed;
  z-index: 1000000;
  top: 10px; left: 10px; right: 10px;
  width: auto;
  background-color: rgba(202, 202, 202, 0.933);
  overflow: auto;
}

/* Navbar links */
.navbar a { 
  float: left;
  text-align: center;
  padding: 12px;
  color: rgb(81, 80, 80);
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s;
}

.navbar b { 
  float: left;
  text-align: center;
  padding: 12px;
  color: rgb(81, 80, 80);
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: rgb(103, 103, 103);
  color:#b9c3fc;
}

/* Current/active navbar link */
.active {
  background-color: #b9c3fc;
}

.topnav-right {
  float: right;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    display: block;
  }
}

body{
  text-align: center;
}

.first{
  float: left;
  padding: 20px;
  text-align: left;
}

.first_text{
  text-align: left;
  text-justify: inter-word;
  padding: 20px;
}