p{
  font-family:Helvetica;
  font-size: 15.5px;
  text-align: justify;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration:underline; }
a:active { text-decoration: none; }
.a{ color: #000000; }

/*https://www.w3schools.com/howto/howto_js_scroll_indicator.asp*/
/* The progress container (grey background) */
.progress-container {
  margin-top: 44px;
  width: 100%;
  height: 6px;
  background-color: rgba(0, 0, 0, 0.088);
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 6px;
  background-image: linear-gradient(to right, #afbaff70, #afbaff);
  width: 0%;
}

/* Style the navigation bar */
.navbar {
  box-shadow: 0 10px 10px 0 rgba(128, 136, 161, 0);
  border-radius: 0px;
  position: fixed;
  z-index: 1000000;
  top: 0px; left: 0px; right: 0px;
  width: auto;
  background-color: rgba(173, 173, 173, 0.668);
  overflow: auto;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(18px);
}

/* Navbar links */
.navbar a { 
  float: left;
  text-align: center;
  padding: 12px;
  color: rgb(43, 43, 43);
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s;
}

.navbar b { 
  float: left;
  text-align: center;
  padding: 12px;
  color: rgb(43, 43, 43);
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color:rgb(103, 103, 103);
  color:#afbaff;
}


.topnav-right {
  float: right;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    display: block;
  }
} */


body{
  /* background-color: #e6e6e6; */
  background: linear-gradient(to bottom,#929292,#e6e6e6,#e6e6e6, #e6e6e6, #d1d1d1);
  text-align: center;
}

.intro{
  box-shadow: 0 13px 13px 0 rgba(0, 0, 0, 0.39);
  border-radius: 6px;
  z-index: 1000000;
  top: 10px; left: 10%; right: 10%;
  width: auto;
  
  background-image: linear-gradient(to right, #7ebc89, #dcbc80);
  margin:1%;
  margin-bottom: 30px;
  margin-left: 8%;
  margin-right: 8%;
  overflow: auto;
}

.first{
  float: left;
  padding-bottom: 15px;
  text-align: left;
}

.quote_text{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #e5e5e5;
  font-size: 18px;
  padding: 20px;
}

.quote{
  box-shadow: 0 13px 13px 0 rgba(0, 0, 0, 0.39);
  border-radius: 6px;
  z-index: 1000000;
  top: 10px; left: 10px; right: 10px;
  width: auto;
  color: #E6E6E6;
  /* Original C++: background-image: linear-gradient(to bottom right, #659CD3, #004283); */
  background-image: linear-gradient(to bottom right, #95b2ce, #144a80);
  margin:1%;
  overflow: auto;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 30px;
}

.first_text{
  padding-top: 20px;
  padding-left: 190px;
  padding-right: 100px;
  padding-bottom: 10px;
  text-align: left;
}

.no_img{
  padding-top: 25px;
  padding-left: 40px;
  padding-right: 5%;
  padding-bottom: 20px;
  text-align: justify;
}

.note_text{
  padding-top: 25px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 60px;
  text-align: left;
  text-justify:auto;
}

.note{
  box-shadow: 0 13px 13px 0 rgba(0, 0, 0, 0.39);
  border-radius: 6px;
  z-index: 1000000;
  top: 10px; left: 10%; right: 10%;
  width: auto;
  
  background-image: linear-gradient(to bottom right, #f9c2db, #f2e4c2);
  margin:1%;
  margin-bottom: 30px;
  margin-left: 8%;
  margin-right: 8%;
  overflow: auto;
}

.frc{
  box-shadow: 0 13px 13px 0 rgba(0, 0, 0, 0.39);
  border-radius: 6px;
  z-index: 1000000;
  top: 10px; left: 10%; right: 10%;
  width: auto;
  
  background-image: linear-gradient(to bottom right, #90a5cf, #b4b4b4);
  margin:1%;
  margin-bottom: 30px;
  margin-left: 8%;
  margin-right: 8%;
  overflow: auto;
}

.ftc{
  box-shadow: 0 13px 13px 0 rgba(0, 0, 0, 0.39);
  border-radius: 6px;
  z-index: 1000000;
  top: 10px; left: 10%; right: 10%;
  width: auto;
  
  background-image: linear-gradient(to bottom right, #a1c2d2 ,#c38e8e);
  margin:1%;
  margin-bottom: 30px;
  margin-left: 8%;
  margin-right: 8%;
  overflow: auto;
}

.taekwondo{
  box-shadow: 0 13px 13px 0 rgba(0, 0, 0, 0.39);
  border-radius: 6px;
  z-index: 1000000;
  top: 10px; left: 10%; right: 10%;
  width: auto;
  color:rgb(211, 191, 129);
  
  background-image: linear-gradient(to bottom right, #000000, #3d3922);
  margin:1%;
  margin-bottom: 30px;
  margin-left: 8%;
  margin-right: 8%;
  overflow: auto;
  
  background: linear-gradient( 90deg, rgb(225, 168, 63), rgb(224, 199, 40) 30px, rgb(45, 45, 45) 30px, rgb(42, 42, 42))
}


.dm3d{
  box-shadow: 0 13px 13px 0 rgba(0, 0, 0, 0.39);
  border-radius: 6px;
  z-index: 1000000;
  top: 10px; left: 10%; right: 10%;
  width: auto;
  
  /* background-image: linear-gradient(to bottom right, #c18787,#b9b1b1, #707070); */
  background-image: linear-gradient(to bottom right, #aaaaaafc, #cacacafc, #aaaaaafc);
  margin:1%;
  margin-bottom: 30px;
  margin-left: 8%;
  margin-right: 8%;
  overflow: auto;
}

.solar{
  box-shadow: 0 13px 13px 0 rgba(0, 0, 0, 0.39);
  border-radius: 6px;
  z-index: 1000000;
  top: 10px; left: 10%; right: 10%;
  width: auto;
  
  background-image: linear-gradient(to bottom right, #87b892, #c9dca4, #cebf90);
  margin:1%;
  margin-bottom: 30px;
  margin-left: 8%;
  margin-right: 8%;
  overflow: auto;
}

.ta{
  box-shadow: 0 13px 13px 0 rgba(0, 0, 0, 0.39);
  border-radius: 6px;
  z-index: 1000000;
  top: 10px; left: 10%; right: 10%;
  width: auto;
  
  background-image: linear-gradient(to bottom right, #4e9465, #8eb391, #a0bba9);
  margin:1%;
  margin-bottom: 30px;
  margin-left: 8%;
  margin-right: 8%;
  overflow: auto;
}

.magna{
  box-shadow: 0 13px 13px 0 rgba(0, 0, 0, 0.39);
  border-radius: 6px;
  z-index: 1000000;
  top: 10px; left: 10%; right: 10%;
  width: auto;
  
  /* background-image: linear-gradient(to bottom left, #abababfc, #c1c1c1fc, #abababfc); */
  background-image: linear-gradient(to bottom left, #7c7c7cfc, #c2c2c2fc, #7c7c7cfc);
  margin:1%;
  margin-bottom: 30px;
  margin-left: 8%;
  margin-right: 8%;
  overflow: auto;
}

.code{
  text-align: center;
  box-shadow: 0 13px 13px 0 rgba(0, 0, 0, 0.39);
  border-radius: 6px;
  z-index: 1000000;
  top: 10px; left: 10%; right: 10%;
  width: auto;
  
  background-image: linear-gradient(to bottom right, #e3b490, #d9b2c2);
  margin:1%;
  margin-bottom: 30px;
  margin-left: 8%;
  margin-right: 8%;
  overflow: auto;
}

@media (max-width: 800px) {
  .first{
    margin-left:15px; margin-right: 5px;
  }
  .intro{
    padding: 15px;
    margin-left:5px; margin-right: 5px;
  }
  .code{
    padding: 15px;
    margin-left:5px; margin-right: 5px;
  }
  .quote{
    padding: 15px;
    margin-left:5px; margin-right: 5px;
  }
  .frc{
    padding: 15px;
    margin-left:5px; margin-right: 5px;
  }
  .ftc{
    padding: 15px;
    margin-left:5px; margin-right: 5px;
  }
  .dm3d{
    padding: 15px;
    margin-left:5px; margin-right: 5px;
  }
  .taekwondo{
    padding: 30px;
    background: rgb(45, 44, 44);
    margin-left:5px; margin-right: 5px;
  }
  .ta{
    padding: 15px;
    margin-left:5px; margin-right: 5px;
  }
  .solar{
    padding: 15px;
    margin-left:5px; margin-right: 5px;
  }
  .magna{
    padding: 15px;
    margin-left:5px; margin-right: 5px;
  }
  .first_text{
    margin-left: 100px;
    padding-bottom: 0px;
    display:inline;
  }
  .progress-container {
    margin-top: 90px;
  }
  .head-img{
    margin-top: 88px;
  }
}